<% elaborador = ElaboradoresController.elaborador %>
<h2>Elaborador <%= elaborador.nome %></h2>
<h4 class="font-weight-light">Area: <%= elaborador.area %></h4>
<a href="/elaboradores/<%= elaborador.id %>/edit" class="btn btn-sm btn-outline-secondary float-right">Editar</a>
<h4 class="font-weight-light">Titulação: <%= elaborador.titulacao %></h4>
<hr class="mt-0">

<table class="table table-hover table-border-bottom mt-4">
  <tbody>
    <tr>
    <th>Nome</th>
    <td><%= elaborador.nome %></td>
    </tr>
    <tr>
    <th>Usuario</th>
    <td><%= elaborador.usuario %></td>
    </tr>
    <tr>
    <th>Endereco</th>
    <td><%= elaborador.endereco %></td>
    </tr>
    <tr>
    <th>Cidade</th>
    <td><%= elaborador.cidade %></td>
    </tr>
    <tr>
    <th>Nascimento</th>
    <td><%= elaborador.nascimento %></td>
    </tr>
  </tbody>
</table>
