<% aplicacao = AplicacoesController.aplicacao %>
<h2>Aplicacao #<%= aplicacao.id %></h2>
<h4 class="font-weight-light">
  Candidato: <%= aplicacao.pessoa.nome %><br>
  Acertos: <%= aplicacao.percentual_acerto.round(2) %> %<br>
  Situação: <%= aplicacao.situacao %>
</h4>
<hr class="mt-0">

<div class="row my-4">
  <div class="col-md-6">
    <p>
      <strong>Data:</strong><br>
      <%= aplicacao.data %>
    </p>
    <p>
      <strong>Inicio:</strong><br>
      <%= aplicacao.hora_inicio.strftime("%d/%m/%Y %H:%M %Ss" ) %>
    </p>
    <p>
      <strong>Fim:</strong><br>
      <%= aplicacao.hora_fim.strftime("%d/%m/%Y %H:%M %Ss" ) %>
    </p>
  </div>
</div>
