<% questao = QuestoesController.questao %>
<h2>Questao #<%= questao.id %></h2>
<h4 class="font-weight-light"><%= questao.alternativas.count %> alternativas </h4>
<hr class="mt-0">

<div class="row my-4">
  <div class="col-md-6">
    <p>
      <strong>Texto:</strong><br>
      <%= questao.texto %>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <img src="/img/<%= questao.nome_ilustracao %>" class="img-fluid"><br>
    <button type="button" name="button" class="btn btn-outline-secondary mt-1">Alterar imagem</button>
  </div>
  <div class="col-md-3 d-flex flex-column justify-content-center">
  </div>
</div>

<h4>Alternativas</h4>
<hr class="mt-0">
<ul>
<% questao.alternativas.each do |alternativa| %>
<li>
  <%= alternativa.texto %> | <%= alternativa.correta %>
</li>
<% end %>
</ul>
